@model PSBR.Models.Responsavel

@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>Welcome to the Person Page <small>Read all about @Model.Nome</small></h1>
</div>

@Html.DisplayForModel(Model)