@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-9">

        <div class="row">
            <div class="col-md-12">
                <p class="lead">Bem-vindo ao portal do Programa da Saúde Brasileira</p>             
            </div>
        </div>
    </div>
    @* Painel direito - Twitter *@
    <div class="col-md-3 pull-right">
        <div class="panel panel-info">
            <div class="panel-heading">
                Twitter
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>